<pagina titulo="Proveedor" [subtitulo]="'(' + (proveedor?.nombre || ( modoCreacion ? 'nuevo' : '...')) + ')'">

    <div *ngIf="errores && errores.length" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ocurri&oacute; un Error</strong>
        <ul *ngIf="errores && errores.length">
            <li *ngFor="let descripcionError of errores">
                {{descripcionError}}
            </li>
        </ul>
    </div>

    <div *ngIf="mensaje" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Acci&oacute;n Finalizada</strong> {{ mensaje }}
    </div>

    <div *ngIf="alerta" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Acci&oacute;n Finalizada</strong> {{ alerta }}
    </div>

    <div class="row">
        <div class="col-lg-12">

            <form role="form" (ngSubmit)="guardar()" #frmProveedor="ngForm" novalidate>
                <div class="form-group col-md-6" [class.has-error]="nombre.touched  && !nombre.valid">
                    <label class="control-label">Nombre:</label>
                    <input class="form-control" [(ngModel)]="proveedor.nombre" placeholder="ej: Empresa A S.A." required maxlength="2000" [disabled]="!modoCreacion" ngControl="nombre" #nombre="ngForm">
                </div>
                <div class="form-group col-md-6" [class.has-error]="nombreDeContacto.touched && !nombreDeContacto.valid">
                    <label class="control-label">Nombre de Contacto:</label>
                    <input class="form-control" [(ngModel)]="proveedor.nombreDeContacto" placeholder="ej: Juan Perez" required maxlength="2000" ngControl="nombreDeContacto" #nombreDeContacto="ngForm">
                </div>
                <div class="form-group col-md-6" [class.has-error]="direccion.touched && !direccion.valid">
                    <label class="control-label">Direcci&oacute;n:</label>
                    <input class="form-control" [(ngModel)]="proveedor.direccion" placeholder="ej: 8va calle 26-8 zona 2" required maxlength="2000" ngControl="direccion" #direccion="ngForm">
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-7 col-sm-5 text-right">
                        <a class="btn btn-default" [routerLink]="['ProveedoresListado']">Cancelar</a>
                        <button type="submit" class="btn btn-primary" [disabled]="!frmProveedor.form.valid || guardando">Guardar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <div class="row" [hidden]="ocultar()">
        <h4>Tel&eacute;fonos del Proveedor:</h4>
        <hr />
        <div class="col-lg-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Numero</th>
                        <th>
                            <div style="text-align: center;">
                                <div class="btn btn-group">
                                    <button (click)="openAgregarTelefono()" title="Agregar nuevo teléfono" class="btn btn-success">
                                        <span class="fa fa-plus">Agregar Tel&eacute;fono</span>
                                    </button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody style="font-size: 9pt;">
                    <tr *ngFor="let telefono of proveedor.telefonos">
                        <td class="text-center">{{telefono.telefono}}</td>
                        <td>
                            <div style="text-align: right;">
                                <div class="btn btn-group">
                                    <button (click)="eliminarTelefono(telefono.telefono)">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Ingrese un nuevo tel&eacute;fono</h4>
                </div>
                <div class="modal-body">
                    <label class="control-label">N&uacute;mero:</label>

                    <input type="number" class="form-control" placeholder="ingrese el numero de telefono" required maxlength="8" [(ngModel)]="telefono">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="guardarTelefono()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</pagina>