<pagina titulo="Ingreso" subtitulo="Nuevo">

    <div *ngIf="errores?.length" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ocurri&oacute; un Error</strong>
        <ul>
            <li *ngFor="let error of errores">
                {{error}}
            </li>
        </ul>
    </div>

    <div *ngIf="mensaje" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Acci&oacute;n Finalizada</strong> {{ mensaje }}
    </div>

    <div class="row">
        <div class="col-lg-12">

            <form role="form" (ngSubmit)="guardar()" #frmIngreso="ngForm" novalidate>
                <div class="form-group col-md-12">
                    <label class="control-label">Fecha:</label>
                    <div class="input-group" id="input-fecha">
                        <input class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-12" [class.has-error]="ctlProveedor.touched && !ctlProveedor.valid">
                    <label class="control-label">Proveedor:</label>
                    <select class="form-control" [(ngModel)]="ingreso.proveedorId" required ngControl="ctlProveedor" #ctlProveedor="ngForm">
                        <option *ngFor="let proveedor of proveedores.elementos" [value]="proveedor.id">{{proveedor.nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-12" [class.has-error]="ctrlBodega.touched && !ctrlBodega.valid">
                    <label class="control-label">Bodega:</label>
                    <select class="form-control" [(ngModel)]="ingreso.bodegaId" required ngControl="ctrlBodega" #ctrlBodega="ngForm">
                        <option *ngFor="let bodega of bodegas.elementos" [value]="bodega.id">{{bodega.nombre}}</option>
                    </select>
                </div>

                <div class="form-group col-md-12">

                    <label class="control-label">Productos</label>
                    <button type="button" class="btn btn-sm btn-success pull-right" style="margin-bottom: 4px;" (click)="nuevoProducto()">
                        <span class="hidden-xs">Agregar Producto</span>
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>

                    <table class="table table-data table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Unidad de medida</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of ingreso.productos">
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.unidadNombre}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs hidden-xs">
                                        <button type="button" class="btn btn-default" (click)="editarProducto(producto)">
                                            <span class="sr-only">Editar</span>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="eliminarProducto(producto)">
                                            <span class="sr-only">Eliminar</span>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group visible-xs">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Opciones <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" style="right: 0; left: inherit">
                                            <li><a class="pointer" (click)="editarProducto(producto)">Editar</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a class="pointer" (click)="eliminarProducto(producto)">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-7 col-sm-5 text-right">
                        <a class="btn btn-default" [routerLink]="['IngresosListado']">Cancelar</a>
                        <button type="submit" class="btn btn-primary" [disabled]="!frmIngreso.form.valid || guardando">Guardar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal fade" id="producto-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" *ngIf="producto">
            <div class="modal-content modal-lg">
                <form role="form" (ngSubmit)="guardarProducto()" #frmProducto="ngForm" novalidate>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal-label">Ingrese el detalle del producto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Producto:</label>
                                <select class="form-control" [ngModel]="producto.productoId" (ngModelChange)="cambiarProducto($event)">
                                    <option *ngFor="let p of productos?.elementos" [value]="p.id">{{p.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Marca:</label>
                                <select class="form-control" [(ngModel)]="producto.marcaId" [disabled]="!producto.productoId">
                                    <option *ngFor="let marca of marcas?.elementos" [value]="marca.id">{{marca.nombre}}</option>
                                </select>
                            </div>
                           <div class="form-group col-md-6">
                                <label class="control-label">Unidad de medida:</label>
                                <select class="form-control" [ngModel]="producto.unidadId" (ngModelChange)="cambiarUnidad($event)" [disabled]="!producto.productoId">
                                    <option *ngFor="let unidad of unidades?.elementos" [value]="unidad.id">{{unidad.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" [class.has-error]="cantidad.touched  && !cantidad.valid">
                                <label class="control-label">Cantidad:</label>
                                <input class="form-control" type="number" [(ngModel)]="producto.cantidad" ngControl="cantidad" #cantidad="ngForm" required min="0" [disabled]="!producto.unidadId" />
                            </div>
                            <div class="form-group col-md-6" [class.has-error]="precio.touched  && !precio.valid">
                                <label class="control-label">Precio:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">Q</span>
                                    <input type="number" class="form-control" [(ngModel)]="producto.precio" ngControl="precio" #precio="ngForm" required min="0" [disabled]="!producto.productoId">
                                </div>
                            </div>
                            <div class="form-group col-md-12" [class.has-error]="serie.touched  && !serie.valid">
                                <label class="control-label">N&uacute;mero de serie:</label>
                                <input class="form-control" type="text" [(ngModel)]="producto.serie" ngControl="serie" #serie="ngForm" maxlength="200" [disabled]="!producto.productoId" />
                            </div>

                            <div *ngIf="producto.productoId && caracteristicas && caracteristicas.length" class="form-group col-md-6" *ngFor="let caracter of caracteristicas">
                                <label class="control-label">{{caracter?.nombre}}</label>
                                <select class="form-control" [(ngModel)]="caracter.listaValorId" *ngIf="caracter?.esLista">
                                    <option *ngFor="let valor of caracter.valores" [value]="valor.id">{{valor.valor}}</option>
                                </select>
                                <input class="form-control" type="number" [(ngModel)]="caracter.valor" [min]="caracter.minimo" [max]="caracter.maximo" required *ngIf="caracter?.esNumero && caracter.requerido" />
                                <input class="form-control" type="number" [(ngModel)]="caracter.valor" [min]="caracter.minimo" [max]="caracter.maximo" *ngIf="caracter?.esNumero && !caracter.requerido" />
                                <div class="input-group" *ngIf="caracter?.esMoneda">
                                    <span class="input-group-addon">Q</span>
                                    <input type="number" class="form-control" [(ngModel)]="caracter.valor" required min="0" *ngIf="caracter?.requerido">
                                    <input type="number" class="form-control" [(ngModel)]="caracter.valor" min="0" *ngIf="!caracter?.requerido">
                                </div>
                                <input class="form-control" type="text" [(ngModel)]="caracter.valor" required *ngIf="caracter?.esTextoCorto && caracter.requerido" />
                                <input class="form-control" type="text" [(ngModel)]="caracter.valor" *ngIf="caracter?.esTextoCorto && !caracter.requerido" />
                                <textarea class="form-control" [(ngModel)]="caracter.valor" required *ngIf="caracter?.esTextoLargo && caracter.requerido"></textarea>
                                <textarea class="form-control" [(ngModel)]="caracter.valor" *ngIf="caracter?.esTextoLargo && !caracter.requerido"></textarea>
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="caracter.valor" *ngIf="caracter?.esBooleano" />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!frmProducto.form.valid">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</pagina>