@using Microsoft.AspNet.Hosting
@inject IHostingEnvironment Host
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bodegas - Login</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <environment names="Development">
        <link href="~/../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/../lib/bootstrap/css/bootstrap.css" />
    </environment>
   
    <link rel="stylesheet" href="~/../css/auth.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/icon.png" class="icon-banner">
                        Bodegas Servidor de Autenticaci&oacute;n
                    </span>
                </a>
            </div>
            <ul class="nav navbar-nav" show-if="User.Identity.IsAuthenticated">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a asp-route="Logout">Logout</a></li>
                        <li class="divider"></li>
                        <li><a asp-route="Login">Login With Different Account</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    @if (Host.IsDevelopment())
    {
        <script src="~/../bower_components/jquery/dist/jquery.js"></script>
        <script src="~/../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    }
    else
    {
        <script src="~/../lib/jquery/jquery.js"></script>
        <script src="~/../lib/bootstrap/js/bootstrap.js"></script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
