<pagina titulo="Usuario" [subtitulo]="'(' + (usuario?.nombreCompleto || ( modoCreacion ? 'nuevo' : '...')) + ')'">

    <div *ngIf="errores && errores.length" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Ocurri&oacute; un Error</strong>
        <ul *ngIf="errores && errores.length">
            <li *ngFor="let descripcionError of errores">
                {{descripcionError}}
            </li>
        </ul>
    </div>

    <div *ngIf="mensaje" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Acci&oacute;n Finalizada</strong> {{ mensaje }}
    </div>

    <div *ngIf="alerta" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Acci&oacute;n Finalizada</strong> {{ alerta }}
    </div>

    <div class="row">
        <div class="col-lg-12">

            <form role="form" (ngSubmit)="guardar()" #frmUsuario="ngForm">
                <div class="form-group col-md-6" [class.has-error]="login.touched  && !login.valid">
                    <label class="control-label">Usuario:</label>
                    <input class="form-control" [(ngModel)]="usuario.login" placeholder="ej: fulano" required maxlength="150" [disabled]="!modoCreacion" ngControl="login" #login="ngForm">
                </div>
                <div class="form-group col-md-6" [class.has-error]="email.touched && !email.valid">
                    <label class="control-label">Correo electr&oacute;nico</label>
                    <input class="form-control" [(ngModel)]="usuario.correo" placeholder="ej: fulano@dominio.com" required maxlength="200" type="email" ngControl="email" #email="ngForm">
                </div>
                <div class="form-group col-md-6" [class.has-error]="nombres.touched && !nombres.valid">
                    <label class="control-label">Nombres</label>
                    <input class="form-control" [ngModel]="usuario.nombres" (ngModelChange)="cambiarNombres($event)" placeholder="ej: Fulano" required maxlength="200" ngControl="nombres" #nombres="ngForm">
                </div>
                <div class="form-group col-md-6" [class.has-error]="apellidos.touched && !apellidos.valid">
                    <label class="control-label">Apellidos</label>
                    <input class="form-control" [ngModel]="usuario.apellidos" (ngModelChange)="cambiarApellidos($event)" placeholder="ej: de Tal" maxlength="200" ngControl="apellidos" #apellidos="ngForm">
                </div>
                <div class="form-group col-md-12" [class.has-error]="nombreCompleto.touched && !nombreCompleto.valid">
                    <label class="control-label">Nombre completo</label>
                    <input class="form-control" [(ngModel)]="usuario.nombreCompleto" placeholder="ej: Dr. Fulano de Tal" required maxlength="400" ngControl="nombreCompleto" #nombreCompleto="ngForm">
                    <p class="help-block small">Este es el nombre que se mostrar&aacute; en su perfil y reportes.</p>
                </div>
                <div class="form-group col-md-12" [class.has-error]="sitioWeb.touched && !sitioWeb.valid">
                    <label class="control-label">Sitio Web</label>
                    <input class="form-control" [(ngModel)]="usuario.sitioWeb" placeholder="ej: http://www.misitio.com" maxlength="200" type="url" ngControl="sitioWeb" #sitioWeb="ngForm">
                </div>

                <div class="form-group col-md-12">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#atributos" aria-controls="atributos" role="tab" data-toggle="tab">Atributos</a>
                        </li>
                        <li role="presentation">
                            <a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">Roles</a>
                        </li>
                        <li role="presentation">
                            <a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">Foto</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="atributos">
                            <button type="button" class="btn btn-sm btn-success pull-right" style="margin-bottom: 4px;">
                                <span class="hidden-xs">Nuevo atributo</span>
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>

                            <table class="table table-data table-striped table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>
                                        <th style="width: 60px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let atributo of atributos()">
                                        <th>{{ atributo }}</th>
                                        <td>{{ valores(atributo) }}</td>
                                        <td class="text-center">
                                            <div class="btn-group btn-group-xs hidden-xs">
                                                <button type="button" class="btn btn-default">
                                                    <span class="sr-only">Editar</span>
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-default">
                                                    <span class="sr-only">Eliminar</span>
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group visible-xs">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Opciones <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" style="right: 0; left: inherit">
                                                    <li><a href="#">Editar</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="roles">
                            <div class="row">
                                <button type="button" *ngFor="let rol of roles.elementos" class="btn col-sm-3" style="border-radius: 0;" (click)="toggleRol(rol)" [ngClass]="{ 'btn-success': rol.asignado, 'btn-default': !rol.asignado }">
                                    {{ rol.nombre }}
                                    <i class="glyphicon pull-right" [ngClass]="{ 'glyphicon-ok': rol.asignado, 'glyphicon-remove': !rol.asignado }"></i>
                                </button>
                            </div>
                            <paginacion [resultado]="roles" (alCambiarPagina)="cambiarPaginaDeRol($event)"></paginacion>
                        </div>

                        <div id="foto" class="tab-pane">

                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-7 col-sm-5 text-right">
                        <a class="btn btn-default" [routerLink]="['UsuariosListado']">Cancelar</a>
                        <button type="submit" class="btn btn-primary" [disabled]="!frmUsuario.form.valid || guardando">Guardar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</pagina>